@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('fonts/Open_Sans/OpenSans-SemiBold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

main {
  flex: 1;
}

main section {
  height: 600px;
}

.paralast {
  height: 200px;
  margin: 40px;
  background: url('images/para.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transform: translateZ(-1px) scale(1.1);
}

.paralast::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 127, 172, 0.61);
}

footer {
  background: #007faa;
  color: rgba(255, 255, 255, 0.9);
}

footer nav {
  margin: 0 auto;
  text-align: center;
}

footer nav a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px 20px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

footer section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

footer section .title {
  text-transform: uppercase;
}

footer .info > div {
  line-height: 20px;
}

footer .contacts {
  text-align: right;
}

footer .ads {
  display: inline-flex;
}

footer .ads img {
  margin-left: 3px;
}

footer .copyrights {
  align-items: flex-end;
}
